@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body, html {
    background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg), hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: right 35vw bottom 50vh, left 40vw top 45vh;
    /* overflow: hidden; */
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    margin:0px;
}

.container {
    height: 100%;
}

.card {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 10px hsl(185, 75%, 39%);
    width: 320px;
 }

.pattern {
     height: 140px;
 }

.pattern img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.picture {
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
}

.picture img {
    border-radius: 50%;
    border: 5px solid white;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picture p {
    margin-top: 70px;
    text-align: center;
    line-height: 30px;
    opacity: 0.8;
}

span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.city {
    font-size: 15px;
}

.data {
    border-top: 1px solid hsl(0, 0%, 59%);
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.8;
    text-align: center;
}

.stats span {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
}

/* @media screen and (max-width: 375px) {
    .card {
        width: 320px;
    }
} */

@media screen and (min-width:376px) {
    body {
        background-position: right 52vw bottom 36vh, left 50vw top 52vh;
    }

    .card {
        width: 350px;
    }
}